.transactions-header-nav{
  display: grid;
  grid-template: 25% 75% / 33% 33% 33%;
  background-color: #28734a;
  color: rgb(255, 255, 255);
  padding: 2%;
}

.transactions-background{
  background-color: #28734a;
}

.page-header{
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transactions-title{
  margin-top: 1%;
}

.transactions-header {
  display: grid;
  grid-area: 2 / 1 / 3 / 4;
  grid-template: 25% 25% 25% 25% / 50% 50%;
  border-radius: 8px;
  margin: 4%;
  padding: 4%;
  place-items: center;
}

.transactions-section{
  background-color: white;
  padding-top: 4%;
  border-radius: 30px;
  min-height: 150vh;
}

.current-balance{
  grid-area: 1 / 1 / 2 / 3;
  font-size: x-large;
}

.current-balance-label{
  grid-area: 2 / 1 / 3 / 3;
  align-self: start;
}

.income {
  grid-area: 3 / 1 / 4 / 2;
  font-size: x-large;
}

.income-label{
  grid-area: 4 / 1 / 5 / 2;
}

.expenses {
  grid-area: 3 / 2 / 4 / 3;
  font-size: x-large;
}

.expenses-label{
  grid-area: 4 / 2 / 5 / 3;
}

.expenses-label, .income-label, .current-balance-label{
  place-self: start center;
  margin: 0;
  color: rgb(225, 225, 225);
}

.income-expenses-tabs{
  display: flex;
  justify-content: center;
  border: 1px solid #28734a;
  border-radius: 8px;
  width: 60%;
  padding: 2%;
  margin-left: 18%;
}

.transactions-title {
  text-align: center;
}

.income-tab, .all-tab, .expenses-tab{
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  color: #28734a;
  font-size: medium;
  margin-left: 8%;
}

.income-tab{
  margin-left: 12%;
}

.all-tab{
  margin: 0;
  align-self: flex-start;
}

button > .active { 
  background-color: white;
}

@media only screen and (min-width: 500px) {
  .transactions-header-nav{
    padding: 0;
  }
  
  .transactions-header{
    padding: 0;
  }

  .page-header{
    margin-top: 1%;
  }

}

