.transactions-header {
  display: grid;
  grid-template: 25% 25% 25% 25% / 50% 50%;
  box-shadow: 0px 0px 8px 2px rgb(202, 202, 202);
  border-radius: 8px;
  margin: 4%;
  place-items: center;
}

.current-balance-container {
  grid-area: 1 / 1 / 2 / 3;
}

.current-balance{
  
}

.income-container {
  grid-area: 2 / 1 / 2 / 2;
}

.expenses-container {
  grid-area: 2 / 2 / 2 / 3;
}

.transactions-title {
  text-align: center;
}