.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 0.5rem;
}

.input{
  border: 0;
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 1rem;
  padding: 0;
  padding-left: 10px;
  width: 150px
}

.category-title{
  margin-top: 35%;
  margin-bottom: 10%;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .category-title{
    margin-top: 10%;
    margin-bottom: 2%;
  }

}