.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.title{
  text-align: center;
}


.h1{
  background-color: #28734a;
  color: white;
  margin: 0;
}

.overview{
  text-align: center;
  margin-top: 20%;
}

.doughnutchart{
  margin-top: 10%;
}

@media only screen and (min-width: 500px) {

  h3> .message{
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 32%;
  }

  .doughnutchart{
    margin-top: 0;
    margin-left: 35%;
    height: 550px;
    width: 550px;
  }

}