main{
  margin-bottom: 15%;
}

.budget-title{
  text-align: center;
  margin: 7%;
}

.budget-header-nav{
  background-color: #287149;
  color: rgb(255, 255, 255);
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-chart{
  display: grid;
  grid-template: 100% / 100%;
}

.total-amount-container{
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  text-align: center;
}

.left{
  color: rgb(159, 159, 159);
}

.budget-chart-container{
  grid-area: 1 / 1 / 2 / 2;
}

.categories-title{
  text-align: center;
}

.edit-budget-link{
  text-decoration: none;
  display: grid;
  place-items: end;
  margin-right: 5%;
  color: #287149;
}

.categories-title{  
  border-bottom: 1px rgb(228, 228, 228) solid;
  padding-bottom: 5%;
}

@media only screen and (min-width: 500px) {

  .budget-title{
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 2%;
    
  }

  .budget-chart-container{
    margin-top: 0;
    margin-left: 35%;
    height: 550px;
    width: 550px;
  }

  .budget-header-nav{
    padding: 1%;
  }

  .add-budget{
    display: grid;
    justify-content: center;
    font-weight: bolder;
  }

  .addbudget-link{
    margin-left: 30%;
  }

}


