
.header-nav{
  display: flex;
  background-color: #28734a;
  color: rgb(255, 255, 255);
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}

.user-icon-container{
  display: flex;
  align-items: center;
}

.logout-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.remaining-budget-msg{
  margin: 6%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.login-link{
  color: #28734a;
}
