.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup{
  margin-top: 35%;
  margin-bottom: 0;
}

@media only screen and (min-width: 500px) {
  .signup{
    margin-top: 10%;
    margin-bottom: 0;
  }

}